.attendance__alert {
    padding: 10px 30px;
    border-color: #badbcc;
    color: #0f5132;
}

.attendance__alert--success {
    background-color: #d1e7dd;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel,
.attendance__button {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 80%;
    height: 200px;
    border-radius: 3px;
    background: #fff;
    color: #000;
    cursor: pointer;
    margin: 30px auto;
    font-size: 36px;
    /* ボタン内のテキストのフォントサイズを調整 */
}

.attendance__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1400px;
    background: #d3d3d3;
}

.attendance-table {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

.attendance-table__inner,
.attendance-table__row,
.attendance-table__header,
.attendance-table__item {
    width: 12%;
    padding: 12px;
}

.greeting,
.date-navigation {
    text-align: center;
}

/* ナビゲーションリンク */
.date-navigation .prev-date,
.date-navigation .next-date,
.date-navigation .date {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}